h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 3px 3px var(--lgtpink);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.377);
    margin-top: 9px;
    margin-bottom: 0px;
    color: white;
    font-size: larger;
  }
  
  h4 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.377);
    text-align: center;
    padding-left: 10px;
    margin: 0px;
    color: white;
  }

  .bar {
    display: none;
  }
  
  .BarChart-Bar{
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 8vw;
    background-color: var(--darkgrn);
    color: white;
    padding-bottom: 4vh;
    padding-top: 1vh;
    font-size: large;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    transition: height .5s,
                padding .5s,
                min-height .5s;       
  }
  
  .BarChart-Bar:nth-child(odd) {
    background-color: var(--teal);
  }
  
  .BarChart-Bar:hover {
    transition: .5s;
    padding-bottom: 60px;
  }


  @media screen and (max-width: 1581px) {
    .BarChart-Bar {
      width: 12vw;
    }
  
  }