.remove-btn {
    font-family: 'Roboto', sans-serif;
    border-style: solid black 1px;
    font-size: 1em;
    margin-top: 10px;
    background-color: rgb(255, 252, 252);
    border-radius: 15px;
    box-shadow: 0 6px #999;
    outline:none;
    transition: all .2s ease-in-out;
  }
  
  .remove-btn:active {
    background-color: rgb(226, 200, 188);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
  }
  
  .remove-btn:hover {
    background-color: rgb(226, 200, 188);
    transition: .5s;
    transform: scale(1.05);
  }