:root {
  --teal: rgb(105, 201, 161); 
  --lgtgrn: rgb(245, 255, 213);
  --lgtpink: rgb(226, 200, 188);
  --white: white;
  --medgrn: #BAC9A9;
  --darkgrn: #697060;

}

.App {
  background: url("./tree_bark.png");
}

.TitleBar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: var(--darkgrn);
  opacity: .9;
  height: 20vh;
  font-size: 1.8em;
  align-items: middle;
  border-radius: 15px;

}

.MainContainer {
  grid-template-rows: 150px auto;
  display: grid;
  background: url("./tree_bark.png");
  height: 75vh;

}

.CountryCheckbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: -25px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
    
}

.BarChart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  align-items: end;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  height: 69vh;
  
}


@media screen and (max-width: 1300px) {
  .CountryCheckbox {
    margin-top: -67px;

  } 

  .TitleBar {
   height: 22.5vh;
  }


}


